body {
    margin: 0;
    background-color: #000;
}
svg {
    display: block;
    width: 100vw;
    height: 100vh;
}
path {
    fill: none;
    stroke: url(#lineGradient);
    stroke-width: 2;
}

